body {
  background: #fafafa;
  background-image: url("../resources/fond-small-2.jpg");
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.bleu {
    color: rgb(46, 184, 230);
}

.marron {
    color: rgb(114, 74, 33);
}

.jaune {
    color: rgb(255, 209, 74);
}

.bleu-bg {
    background-color: rgb(46, 184, 230);
}

.marron-bg {
    background-color: rgb(114, 74, 33);
}

.jaune-bg {
    background-color: rgb(255, 209, 74);
}

img {
  width: 70px;
  height: 70px;
}

.combo-chain {
    display: flex;
}

.gauge {
    position: relative;
    height: 400px;
    width: 20px;
    border: solid 1px black;
}

.gauge .chain-value {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

#board-game{
  background-image: url("../resources/floor.jpg");
  border-collapse: collapse;
  border: 3px solid white;
  position: relative;
}
#board-game td{
  width: 75px;
  height: 75px;
  border: 3px solid white;
}
#board-game tr{
  width: 75px;
  height: 75px;
  border: 3px solid white;
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out;
}
